* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 12, 12);
}

.table {
  color: gray;
  display: flex;
  justify-content: center;
  border: 2px solid white;
}

.player,
.ai {
  text-align: center;
  color: darkgray;
  flex-basis: 20%;
}

.msg {
  flex-basis: 80%;
  text-align: center;
  font-weight: bold;
}

canvas {
  border: 2px solid white;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 0.8em;
  margin: 8px;
  padding: 5px;
  color: black;
  background-color: rgb(221, 210, 210);
  border: 2px grey solid;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}
